---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro'
const pageTitle = "Blog";
const allPosts = await Astro.glob('../pages/posts/*.md');
---
<BaseLayout pageTitle={pageTitle}>
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
  <h2>...¡y mi nuevo sitio Astro!</h2>
  <p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda página de mi sitio web, ¡y es la primera que he construido yo mismo!</p>
  <p>Este sitio se irá actualizando a medida que vaya completando más partes del tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!</p>
  <ul>
    <!-- {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
 
</BaseLayout>